@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

@import "tailwindcss";

* {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@layer base{
  button {
    @apply cursor-pointer;
  }
}